$fonte-padrao: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
$cor-padrao: #352e2e;

a {
    color: $cor-padrao;
    font-family: $fonte-padrao;
    text-decoration: none;
}

body {
    background-color: rgb(250, 251, 242)
}

.btn-outline-primary {
    margin-bottom: 40px;
}

.form {
    margin: 5px 0px;
    width: 70px;
}

.card {
    margin: 5px;
    padding: 10px;
}

#coluna_nome {
    font-family: Geneva, Verdana, sans-serif;
    color: blue;
}

div {
    text-shadow: 2px 2px 24px rgb(72, 72, 72);
}

h1, h1 > a {
    margin: 40px;
    font-family: $fonte-padrao;
    color: grey;
}

h2 {
    font-family: $fonte-padrao;
    text-transform: uppercase;
}

label {
    color: $cor-padrao;
    font-family: $fonte-padrao;
}


.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #fffefe;
}

tr:nth-child(even) {
    background-color: #d3d3d3;
}
