h1 {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  color: grey;
}

a {
  color: #a75050;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

label {
  color: #a75050;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(250, 251, 242);
}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#coluna_nome {
  font-family: Geneva, Verdana, sans-serif;
  color: blue;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #fffefe;
}

tr:nth-child(even) {
  background-color: #d3d3d3;
}
